:root{
  --color-primary: #001878;
}

html{
  height: 100% !important;
}
#root{
  height: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px !important;
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select {
  background-color: #f2f2f2 !important;
}

button:not(.Toastify__close-button, .btn-close) {
  background: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  border-radius: 20px !important;
  font-weight: 500 !important;
}